@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --off-white: #f3ebe9;
  --primary-text-color: #2e363c;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

Image {
  all: revert;
}

body {
  height: 100%;
  background: linear-gradient(135deg, #FFC300, #FF5733, #C70039, #900C3F);
}

.navigation {
  position: sticky;
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0.5rem 0rem;
  background-color: var(--off-white);
  color: var(--bg-gradient-end);
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.navigation-menu {
  margin-right: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}

.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px; 
  padding: 0.5rem;
  position: absolute;
  right: 10px;
  display: none;
}

/* Navbar responsive behaviour */
@media screen and (max-width: 550px) {
  .hamburger {
    display: block;
  }

  .navigation-menu ul {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(50vh - 60px);
    background-color: var(--off-white);
    border-top: 1px solid var(--primary-text-color);
    display: none;
  }

  .navigation-menu li {
    text-align: center;
    margin: 0;
  }

  .navigation-menu li a {
    color: var(--primary-text-color);
    width: 100%;
    padding: 1.5rem 0;
  }

  .navigation-menu li:hover {
    background-color: #eee;
  }

  .navigation-menu.expanded ul {
    display: block;
  }
}